<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<div class="row">
    <nav>
        <ul class="pager">
            <li class="previous"><?php echo $this->tag->linkTo(["Renting", "Back"]) ?></li>
        </ul>
    </nav>
</div>

<div class="page-header">
    <h1>
        Edit Renting
    </h1>
</div>

<?php echo $this->getContent(); ?>

<?php
    echo $this->tag->form(
        [
            "Renting/save",
            "autocomplete" => "off",
            "class" => "form-horizontal"
        ]
    );
?>

<div class="form-group">
    <label for="fieldCollectdate" class="col-sm-2 control-label">Collectdate</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["collectdate", "type" => "date", "class" => "form-control", "id" => "fieldCollectdate"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldReturndate" class="col-sm-2 control-label">Returndate</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["returndate", "type" => "date", "class" => "form-control", "id" => "fieldReturndate"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldCustomerid" class="col-sm-2 control-label">Customerid</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["customerid", "type" => "number", "class" => "form-control", "id" => "fieldCustomerid"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldVehicleid" class="col-sm-2 control-label">Vehicleid</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["vehicleid", "type" => "number", "class" => "form-control", "id" => "fieldVehicleid"]) ?>
    </div>
</div>


<?php echo $this->tag->hiddenField("id") ?>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <?php echo $this->tag->submitButton(["Save", "class" => "btn btn-default"]) ?>
    </div>
</div>

<?php echo $this->tag->endForm(); ?>
