<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<div class="page-header">
    <h1>
        Search Vehicle
    </h1>
    <p>
        <?php echo $this->tag->linkTo(["Vehicle/new", "Create Vehicle"]) ?>
    </p>
</div>

<?php echo $this->getContent() ?>

<?php
    echo $this->tag->form(
        [
            "Vehicle/search",
            "autocomplete" => "off",
            "class" => "form-horizontal"
        ]
    );
?>

<div class="form-group">
    <label for="fieldId" class="col-sm-2 control-label">Id</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["id", "type" => "number", "class" => "form-control", "id" => "fieldId"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldMake" class="col-sm-2 control-label">Make</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["make", "size" => 30, "class" => "form-control", "id" => "fieldMake"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldModel" class="col-sm-2 control-label">Model</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["model", "size" => 30, "class" => "form-control", "id" => "fieldModel"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldRegnumber" class="col-sm-2 control-label">RegNumber</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["regNumber", "size" => 30, "class" => "form-control", "id" => "fieldRegnumber"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldColour" class="col-sm-2 control-label">Colour</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["colour", "size" => 30, "class" => "form-control", "id" => "fieldColour"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldRentprice" class="col-sm-2 control-label">RentPrice</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["rentPrice", "size" => 30, "class" => "form-control", "id" => "fieldRentprice"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldAvailable" class="col-sm-2 control-label">Available</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["available", "size" => 30, "class" => "form-control", "id" => "fieldAvailable"]) ?>
    </div>
</div>


<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <?php echo $this->tag->submitButton(["Search", "class" => "btn btn-default"]) ?>
    </div>
</div>

<?php echo $this->tag->endForm(); ?>
