<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<?php use Phalcon\Tag; ?>

<div class="row">
    <nav>
        <ul class="pager">
            <li class="previous"><?php echo $this->tag->linkTo(["Vehicle/index", "Go Back"]); ?></li>
            <li class="next"><?php echo $this->tag->linkTo(["Vehicle/new", "Create "]); ?></li>
        </ul>
    </nav>
</div>

<div class="page-header">
    <h1>Search result</h1>
</div>

<?php echo $this->getContent(); ?>

<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
            <th>Make</th>
            <th>Model</th>
            <th>RegNumber</th>
            <th>Colour</th>
            <th>RentPrice</th>
            <th>Available</th>

                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <?php foreach ($page->items as $vehicle): ?>
            <tr>
                <td><?php echo $vehicle->getId() ?></td>
            <td><?php echo $vehicle->getMake() ?></td>
            <td><?php echo $vehicle->getModel() ?></td>
            <td><?php echo $vehicle->getRegnumber() ?></td>
            <td><?php echo $vehicle->getColour() ?></td>
            <td><?php echo $vehicle->getRentprice() ?></td>
            <td><?php echo $vehicle->getAvailable() ?></td>

                <td><?php echo $this->tag->linkTo(["Vehicle/edit/" . $vehicle->getId(), "Edit"]); ?></td>
                <td><?php echo $this->tag->linkTo(["Vehicle/delete/" . $vehicle->getId(), "Delete"]); ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-sm-1">
        <p class="pagination" style="line-height: 1.42857;padding: 6px 12px;">
            <?php echo $page->current, "/", $page->total_pages ?>
        </p>
    </div>
    <div class="col-sm-11">
        <nav>
            <ul class="pagination">
                <li><?php echo $this->tag->linkTo("Vehicle/search", "First") ?></li>
                <li><?php echo $this->tag->linkTo("Vehicle/search?page=" . $page->before, "Previous") ?></li>
                <li><?php echo $this->tag->linkTo("Vehicle/search?page=" . $page->next, "Next") ?></li>
                <li><?php echo $this->tag->linkTo("Vehicle/search?page=" . $page->last, "Last") ?></li>
            </ul>
        </nav>
    </div>
</div>
