<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Phalcon PHP Framework</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="shortcut icon" type="image/x-icon" href="<?php echo $this->url->get('img/favicon.ico')?>"/>
    </head>
    <body style="background-color: #CACFD2">
        <nav class="navbar navbar-default" style="background-color: #104e8b">
        <div class="container-fluid"> 
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Car Rental</a>
            </div>
    <ul class="nav navbar-nav">
        <li><!--class="active"--><a href="http://localhost:90/carRental2/">Home</a></li>
        <li><a href="http://localhost:90/carRental2/Customer/search">Customer</a></li>
        <li><a href="http://localhost:90/carRental2/Vehicle/search">Vehicle</a></li>
        <li><a href="http://localhost:90/carRental2/Renting/search">Renting</a></li>
        <li class="active"><a href="http://localhost:90/carRental2/user/new">Sign-Up</a></li>
        <li class="active"><a herf="http://localhost:90/carRental2/user/login">Login</a></li>
    </ul>
    <ul class="nav navbar-nav">        
         <!-- the form below is the search bar and submit buttom-->
        <li>
            <form class="navbar-form navbar-left" action="/action_page.php">
                <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </li>
    </ul>
   </div>
   </nav>
        <div class="container">
            <?php echo $this->getContent(); ?>
        </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
