<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<?php use Phalcon\Tag; ?>

<div class="row">
    <nav>
        <ul class="pager">
            <li class="previous"><?php echo $this->tag->linkTo(["Customer/index", "Go Back"]); ?></li>
            <li class="next"><?php echo $this->tag->linkTo(["Customer/new", "Create "]); ?></li>
        </ul>
    </nav>
</div>

<div class="page-header">
    <h1>Search result</h1>
</div>

<?php echo $this->getContent(); ?>

<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
            <th>Username</th>
            <th>PasWord</th>
            <th>Firstname</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Dateofbirth</th>
            <th>Age</th>
            
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <?php foreach ($page->items as $customer): ?>
            <tr>
                <td><?php echo $customer->getId() ?></td>
            <td><?php echo $customer->getUsername() ?></td>
            <td><?php echo $customer->getPasword() ?></td>
            <td><?php echo $customer->getFirstname() ?></td>
            <td><?php echo $customer->getSurname() ?></td>
            <td><?php echo $customer->getEmail() ?></td>
            <td><?php echo $customer->getDateofbirth() ?></td>
            <td><?php echo $customer->getAge() ?></td>
            

                <td><?php echo $this->tag->linkTo(["Customer/edit/" . $customer->getId(), "Edit"]); ?></td>
                <td><?php echo $this->tag->linkTo(["Customer/delete/" . $customer->getId(), "Delete"]); ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-sm-1">
        <p class="pagination" style="line-height: 1.42857;padding: 6px 12px;">
            <?php echo $page->current, "/", $page->total_pages ?>
        </p>
    </div>
    <div class="col-sm-11">
        <nav>
            <ul class="pagination">
                <li><?php echo $this->tag->linkTo("Customer/search", "First") ?></li>
                <li><?php echo $this->tag->linkTo("Customer/search?page=" . $page->before, "Previous") ?></li>
                <li><?php echo $this->tag->linkTo("Customer/search?page=" . $page->next, "Next") ?></li>
                <li><?php echo $this->tag->linkTo("Customer/search?page=" . $page->last, "Last") ?></li>
            </ul>
        </nav>
    </div>
</div>
